name: Publish to JSR and NPM
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v2.5.x

      - name: Verify
        run: deno task verify

      - name: Publish to JSR
        run: deno publish

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Build NPM
        run: deno run -A scripts/build_npm.ts

      - name: Publish to NPM
        run: |
          cd npm
          npm publish
