name: Run Examples

on:
    push:
        branches: ["main"]
concurrency:
    group: run-examples
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    bun-ts:
        runs-on: ubuntu-latest
        steps:
            - name: Setup repo
              uses: actions/checkout@v4
            - name: Install Bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: latest
            - working-directory: examples/bun-ts
              run: bun install
            - working-directory: examples/bun-ts
              run: bun start
    deno:
        runs-on: ubuntu-latest
        steps:
            - name: Setup repo
              uses: actions/checkout@v4
            - name: Install Deno
              uses: denoland/setup-deno@v1
              with:
                  deno-version: v2.2.x
            - working-directory: ./examples/deno
              run: deno test
    pnpm:
        runs-on: ubuntu-latest
        steps:
            - name: Setup repo
              uses: actions/checkout@v4
            - name: Install pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: 10
            - working-directory: examples/pnpm
              run: pnpm install
            - working-directory: examples/pnpm
              run: pnpm start
    npm-commonjs:
        runs-on: ubuntu-latest
        steps:
            - name: Setup repo
              uses: actions/checkout@v4
            - name: Install Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
            - working-directory: examples/npm-commonjs
              run: npm install
            - working-directory: examples/npm-commonjs
              run: npm start
    npm-module:
        runs-on: ubuntu-latest
        steps:
            - name: Setup repo
              uses: actions/checkout@v4
            - name: Install Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
            - working-directory: examples/npm-module
              run: npm install
            - working-directory: examples/npm-module
              run: npm start
